# Business Problem

For this project, you have been hired to produce a MySQL database on Movies from a subset of IMDB's publicly available dataset.
Ultimately, you will use this database to analyze what makes a movie successful, and will provide recommendations to the stakeholder on how to make a successful movie.

# Specifications - Database

Your stakeholder wants you to take the data you have been cleaning and collecting in Parts 1 & 2 of the project and wants you to create a MySQL database for them.

Specifically, they want the data from the following files included in your database:

Title Basics:

Movie ID (tconst)
Primary Title
Start Year
Runtime (in Minutes)
Genres
Title Ratings

Movie ID (tconst)
Average Movie Rating
Number of Votes
The TMDB API Results (multiple files)

Movie ID
Revenue
Budget
Certification (MPAA Rating)

# Imports and Libaraies

In [1]:
import pandas as pd
import json
import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy import create_engine
from sqlalchemy_utils import create_database, database_exists
import warnings 
warnings.filterwarnings("ignore")

In [2]:
title_basics = pd.read_csv("Data/title_basics.csv.gz")
title_basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
1,tt0043139,movie,Life of a Beijing Policeman,Wo zhe yi bei zi,0,2013,NaN,120,"Drama,History"
2,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020,NaN,70,Drama
3,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama
4,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,NaN,100,"Comedy,Horror,Sci-Fi"

In [3]:
title_basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81762 entries, 0 to 81761
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          81762 non-null  object
 1   titleType       81762 non-null  object
 2   primaryTitle    81762 non-null  object
 3   originalTitle   81762 non-null  object
 4   isAdult         81762 non-null  int64
 5   startYear       81762 non-null  int64
 6   endYear         0 non-null      float64
 7   runtimeMinutes  81762 non-null  int64
 8   genres          81762 non-null  object
dtypes: float64(1), int64(3), object(5)
memory usage: 5.6+ MB

In [4]:
title_ratings = pd.read_csv("Data/title_ratings.csv.gz")
title_ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1979
1  tt0000002            5.8       265
2  tt0000005            6.2      2621
3  tt0000006            5.1       182
4  tt0000007            5.4       821

# Transformation Steps for Title Basics:

Convert the single string of genres from title basics into 2 new tables.

title_genres: with the columns:

tconst
genre_id
genres

genre_id
genre_name

In [5]:
title_basics["genres_split"] = title_basics["genres"].str.split(',')
title_basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance","[Comedy, Fantasy, Romance]"
1,tt0043139,movie,Life of a Beijing Policeman,Wo zhe yi bei zi,0,2013,NaN,120,"Drama,History","[Drama, History]"
2,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020,NaN,70,Drama,[Drama]
3,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama,[Drama]
4,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,NaN,100,"Comedy,Horror,Sci-Fi","[Comedy, Horror, Sci-Fi]"
...,...,...,...,...,...,...,...,...,...,...
81757,tt9914942,movie,Life Without Sara Amat,La vida sense la Sara Amat,0,2019,NaN,74,Drama,[Drama]
81758,tt9915872,movie,The Last White Witch,My Girlfriend is a Wizard,0,2019,NaN,97,"Comedy,Drama,Fantasy","[Comedy, Drama, Fantasy]"
81759,tt9916170,movie,The Rehearsal,O Ensaio,0,2019,NaN,51,Drama,[Drama]
81760,tt9916190,movie,Safeguard,Safeguard,0,2020,NaN,95,"Action,Adventure,Thriller","[Action, Adventure, Thriller]"
81761,tt9916362,movie,Coven,Akelarre,0,2020,NaN,92,"Drama,History","[Drama, History]"

In [6]:
exploded = title_basics.explode("genres_split")
exploded[["genres_split"]].head()

  genres_split
0       Comedy
0      Fantasy
0      Romance
1        Drama
1      History

In [7]:
unique_genres = sorted(exploded["genres_split"].unique())
unique_genres

['Action',
 'Adult',
 'Adventure',
 'Animation',
 'Biography',
 'Comedy',
 'Crime',
 'Drama',
 'Family',
 'Fantasy',
 'Game-Show',
 'History',
 'Horror',
 'Music',
 'Musical',
 'Mystery',
 'News',
 'Reality-TV',
 'Romance',
 'Sci-Fi',
 'Sport',
 'Talk-Show',
 'Thriller',
 'War',
 'Western']

# Create a genre mapper dictionary to replace string genres with intergers.

In [8]:
# Making the genre mapper dictionary
genre_ints = range(len(unique_genres))
genre_map = dict(zip(unique_genres, genre_ints))
genre_map

{'Action': 0,
 'Adult': 1,
 'Adventure': 2,
 'Animation': 3,
 'Biography': 4,
 'Comedy': 5,
 'Crime': 6,
 'Drama': 7,
 'Family': 8,
 'Fantasy': 9,
 'Game-Show': 10,
 'History': 11,
 'Horror': 12,
 'Music': 13,
 'Musical': 14,
 'Mystery': 15,
 'News': 16,
 'Reality-TV': 17,
 'Romance': 18,
 'Sci-Fi': 19,
 'Sport': 20,
 'Talk-Show': 21,
 'Thriller': 22,
 'War': 23,
 'Western': 24}

In [9]:
genre_id_map = dict(zip(unique_genres, range(len(unique_genres))))
genre_id_map

{'Action': 0,
 'Adult': 1,
 'Adventure': 2,
 'Animation': 3,
 'Biography': 4,
 'Comedy': 5,
 'Crime': 6,
 'Drama': 7,
 'Family': 8,
 'Fantasy': 9,
 'Game-Show': 10,
 'History': 11,
 'Horror': 12,
 'Music': 13,
 'Musical': 14,
 'Mystery': 15,
 'News': 16,
 'Reality-TV': 17,
 'Romance': 18,
 'Sci-Fi': 19,
 'Sport': 20,
 'Talk-Show': 21,
 'Thriller': 22,
 'War': 23,
 'Western': 24}

# Create Title Genres Tables

In [10]:
# Save just tconst and genres_slpit as new dataframe
title_genres = exploded[['tconst', 'genres_split']].copy()

In [11]:
# Manually make dataframe with named columns from the key/value pairs
genres = pd.DataFrame({'genre_id': genre_map.values(),
                             'genre_name': genre_map.keys()})

genres.head()

   genre_id genre_name
0         0     Action
1         1      Adult
2         2  Adventure
3         3  Animation
4         4  Biography

# Replace the string genres in title_genres with the new integer ids.

In [12]:
## make new integer genre_id and drop string genres
title_basics["genre_id"] = title_basics["genres_split"].replace(genre_map)
title_basics = title_basics.drop(columns="genres_split")

In [13]:
title_basics.columns

Index(['tconst', 'titleType', 'primaryTitle', 'originalTitle', 'isAdult',
       'startYear', 'endYear', 'runtimeMinutes', 'genres', 'genre_id'],
      dtype='object')

In [14]:
title_basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81762 entries, 0 to 81761
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          81762 non-null  object
 1   titleType       81762 non-null  object
 2   primaryTitle    81762 non-null  object
 3   originalTitle   81762 non-null  object
 4   isAdult         81762 non-null  int64
 5   startYear       81762 non-null  int64
 6   endYear         0 non-null      float64
 7   runtimeMinutes  81762 non-null  int64
 8   genres          81762 non-null  object
 9   genre_id        81762 non-null  object
dtypes: float64(1), int64(3), object(6)
memory usage: 6.2+ MB

In [15]:
save = ["tconst", "primaryTitle", "startYear", "genres", "runtimeMinutes"]
title_basics = title_basics[save]
title_basics.head()

,tconst,primaryTitle,startYear,genres,runtimeMinutes
0,tt0035423,Kate & Leopold,2001,"Comedy,Fantasy,Romance",118
1,tt0043139,Life of a Beijing Policeman,2013,"Drama,History",120
2,tt0062336,The Tango of the Widower and Its Distorting Mi...,2020,Drama,70
3,tt0069049,The Other Side of the Wind,2018,Drama,122
4,tt0088751,The Naked Monster,2005,"Comedy,Horror,Sci-Fi",100

# Title Ratings Table

In [16]:
title_ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1979
1  tt0000002            5.8       265
2  tt0000005            6.2      2621
3  tt0000006            5.1       182
4  tt0000007            5.4       821

# TMDB Table Results

In [17]:
tmdb_data_api = pd.read_csv("Data/tmdb_results_combined.csv.gz")
tmdb_data_api.head()

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,tt0113026,0.0,/vMFs7nw6P0bIV1jDsQpxAieAVnH.jpg,NaN,10000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10402, '...",NaN,62127.0,en,The Fantasticks,...,0.0,86.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Try to remember the first time magic happened,The Fantasticks,0.0,5.500,22.0,NaN
1,tt0118694,0.0,/n4GJFGzsc7NinI1VeGDXIcQjtU2.jpg,"{'id': 1131062, 'name': 'Wong Kar-Wai’s Love T...",150000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,843.0,cn,花樣年華,...,14204632.0,99.0,"[{'english_name': 'Cantonese', 'iso_639_1': 'c...",Released,"Feel the heat, keep the feeling burning, let t...",In the Mood for Love,0.0,8.109,2229.0,PG
2,tt0119273,0.0,/f5C03doOWiauu37bToKXtpgP5bS.jpg,"{'id': 141086, 'name': 'Heavy Metal Collection...",15000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,16225.0,en,Heavy Metal 2000,...,0.0,88.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,not to survive the fight in the external world...,Heavy Metal 2000,0.0,6.090,183.0,R
3,tt0120263,0.0,/ynXVuylP8upazjz8lrqb1PEMkdR.jpg,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",NaN,34070.0,sv,Sånger från andra våningen,...,80334.0,99.0,"[{'english_name': 'Russian', 'iso_639_1': 'ru'...",Released,NaN,Songs from the Second Floor,0.0,7.200,239.0,NaN
4,tt0120467,0.0,/knok3mNReKqPTplnnqz7E4dd7mD.jpg,NaN,120000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 27, 'name...",NaN,19085.0,en,Vulgar,...,14904.0,87.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Everyone loves a clown... some more than others.,Vulgar,0.0,5.500,44.0,R

In [18]:
tmdb_data_api.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 634 entries, 0 to 633
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_id                634 non-null    object
 1   adult                  634 non-null    float64
 2   backdrop_path          536 non-null    object
 3   belongs_to_collection  109 non-null    object
 4   budget                 634 non-null    float64
 5   genres                 634 non-null    object
 6   homepage               75 non-null     object
 7   id                     634 non-null    float64
 8   original_language      634 non-null    object
 9   original_title         634 non-null    object
 10  overview               632 non-null    object
 11  popularity             634 non-null    float64
 12  poster_path            616 non-null    object
 13  production_companies   634 non-null    object
 14  production_countries   634 non-null    object
 15  release_date           633 non-null    object
 16  revenue                634 non-null    float64
 17  runtime                634 non-null    float64
 18  spoken_languages       634 non-null    object
 19  status                 634 non-null    object
 20  tagline                496 non-null    object
 21  title                  634 non-null    object
 22  video                  634 non-null    float64
 23  vote_average           634 non-null    float64
 24  vote_count             634 non-null    float64
 25  certification          426 non-null    object
dtypes: float64(9), object(17)
memory usage: 128.9+ KB

In [19]:
save_these = ["imdb_id","revenue","budget","certification"]
tmdb_data_api = tmdb_data_api[save_these]
tmdb_data_api.head()

     imdb_id     revenue      budget certification
0  tt0113026         0.0  10000000.0           NaN
1  tt0118694  14204632.0    150000.0            PG
2  tt0119273         0.0  15000000.0             R
3  tt0120263     80334.0         0.0           NaN
4  tt0120467     14904.0    120000.0             R

In [20]:
# Create connection string using credentials following this format
# connection = "dialect+driver://username:password@host:port/database"
username = "root"
password = "Logan2010*" # (or whatever password you chose during mysql installation)
db_name = "Movies"
connection = f"mysql+pymysql://{username}:{password}@localhost/{db_name}"

In [21]:
# Create Engine
engine = create_engine(connection)

In [22]:
# check if database exists, if not, create it
if database_exists(connection):
    print('It exists')
else:
    create_database(connection)
    print('Database created!')

It exists

In [23]:
#Title Basics
## get max string length
max_str_len = title_basics["tconst"].fillna('').map(len).max()
max_str_len

10

In [24]:
## Example
from sqlalchemy.types import *
## Calculate max string lengths for object columns
key_len = title_basics['tconst'].fillna('').map(len).max()
title_len = title_basics['primaryTitle'].fillna('').map(len).max()
## Create a schema dictonary using Sqlalchemy datatype objects
df_schema = {
    "tconst": String(key_len+1), 
    "primaryTitle": Text(title_len+1),
    'startYear':Float(),
    'endYear':Float(),
    'runtimeMinutes':Integer()}

In [25]:
# Save to sql with dtype and index=False
title_basics.to_sql('title_basics',engine,dtype=df_schema,
                    if_exists='replace',index=False)

81762

In [26]:
# Save to sql with dtype and index=False
title_ratings.to_sql("title_ratings",engine,dtype=df_schema,
                     if_exists="replace",index=False)

501008

In [27]:
title_genres.to_sql("title_genres",engine,dtype=df_schema,
                     if_exists="replace",index=False)

153204

In [28]:
tmdb_data_api = tmdb_data_api.loc[ tmdb_data_api['imdb_id']!='0']
tmdb_data_api.head()

     imdb_id     revenue      budget certification
0  tt0113026         0.0  10000000.0           NaN
1  tt0118694  14204632.0    150000.0            PG
2  tt0119273         0.0  15000000.0             R
3  tt0120263     80334.0         0.0           NaN
4  tt0120467     14904.0    120000.0             R

In [29]:
tmdb_data_api.to_sql("title_tmdb",engine,dtype=df_schema,
                     if_exists="replace",index=False)

634

In [30]:
engine.execute('ALTER TABLE title_basics ADD PRIMARY KEY (`tconst`);')

In [31]:
engine.execute('ALTER TABLE title_ratings ADD PRIMARY KEY (`tconst`);')

In [32]:
engine.execute('ALTER TABLE title_genres ADD PRIMARY KEY (`tconst`);')

IntegrityError: (pymysql.err.IntegrityError) (1062, "Duplicate entry 'tt0183808' for key 'title_genres.PRIMARY'")
[SQL: ALTER TABLE title_genres ADD PRIMARY KEY (`tconst`);]
(Background on this error at: https://sqlalche.me/e/14/gkpj)

In [ ]:
engine.execute('ALTER TABLE tmdb_data_api ADD PRIMARY KEY (`imdb_id`);')

In [ ]:
## get max string length
max_str_len2 = title_ratings["tconst"].fillna('').map(len).max()
max_str_len2

In [ ]:
# Save to sql with dtype and index = False
title_genres.to_sql('title_genres', engine, dtype = df_schema, 
              if_exists = 'replace', index = False)

In [ ]:
title_basics.to_sql("title_basics",engine,dtype=df_schema,
                     if_exists="replace",index=False)

In [ ]:
## Calculate max string lengths for object columns
key_len = title_genres['tconst'].fillna('').map(len).max()

## Create a schema dictonary using Sqlalchemy datatype objects
df_schema = {
    "tconst": String(key_len+1), 
    'genre_id':Float()}

In [ ]:
## get max string length
max_str_len3 = title_genres["tconst"].fillna('').map(len).max()
max_str_len3

In [ ]:
## get max string length
max_str_len4 = genres["genre_name"].fillna('').map(len).max()
max_str_len4

In [ ]:
## Calculate max string lengths for object columns
key_len = title_ratings['tconst'].fillna('').map(len).max()

## Create a schema dictonary using Sqlalchemy datatype objects
df_schema = {
    "tconst": String(key_len+1), 
    'averageRating':Float(),
    'numVotes':Float()}

In [ ]:
## Calculate max string lengths for object columns
key_len = genres["genre_name"].fillna('').map(len).max()

## Create a schema dictonary using Sqlalchemy datatype objects
df_schema = {
    "genre_name": String(key_len+1), 
    "genre_id":Float()}

In [ ]:
# Save to sql with dtype and index = False
genres.to_sql("genres", engine, dtype = df_schema, 
              if_exists = "replace", index = False)

In [ ]:
## get max string length
max_str_len5 = tmdb_data_api["imdb_id"].fillna('').map(len).max()
max_str_len5

In [ ]:
## Calculate max string lengths for object columns
key_len = tmdb_data_api["imdb_id"].fillna('').map(len).max()
cert_len = tmdb_data_api["certification"].fillna('').map(len).max()

## Create a schema dictonary using Sqlalchemy datatype objects
df_schema = {
    "imdb_id": String(key_len+1), 
    "certification": Text(cert_len+1),
    "budget":Float(),
    "revenue":Float()}

In [ ]:
# Save to sql with dtype and index = False
tmdb_data_api.to_sql("tmdb_data_api", engine, dtype = df_schema, 
              if_exists = "replace", index = False)

In [ ]:
q = """SELECT * 
FROM title_basics
LIMIT 5;"""

pd.read_sql(q, engine)

In [ ]:
q = """
SELECT * 
FROM title_ratings
LIMIT 5;
"""

pd.read_sql(q, engine)

In [ ]:
q = """
SELECT * 
FROM title_genres
LIMIT 5;
"""

pd.read_sql(q, engine)

In [ ]:
q = """
SELECT * 
FROM tmdb_data_api
LIMIT 5;
"""

pd.read_sql(q, engine)

In [ ]:
# check with query
q = """
SHOW TABLES;
"""

pd.read_sql(q, engine)

# Run in SQL to see if it's there.